@import "../../../../styles/variables";

:host {
  footer {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    background-color: $dark-grey;

    section {
      div:first-child {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          text-decoration: none;
          color: white;
          -webkit-transition: color 200ms ease-in;
          -moz-transition: color 200ms ease-in;
          -o-transition: color 200ms ease-in;
          transition: color 200ms ease-in;

          &:hover {
            color: $main-color;
            cursor: pointer;
          }
        }
      }

      &.infos {
        li {
          display: inline-block;
          margin: 0 10px;

          img {
            width: 30px;
          }

          button {
            border: none;
            background-color: transparent;
          }
        }
      }
    }
  }

  .logo {
    img {
      max-height: 150px;
      max-width: 200px;
    }
  }
}
