<div class="experience col-sm-6">
  <h2>{{ experience.job }}</h2>
  <div class="company">
    <div class="company">
      <div class="company-logo"><img [src]="experience.logo"/></div>
      <div class="company-name">{{ experience.company }}</div>
    </div>
  </div>
  <div class="experience-content">
    <div class="experience-date">
      Du {{ experience.startDate | date: 'yyyy-MM-dd' }}
      <span class="experience-end-date" *ngIf="experience.endDate">au {{ experience.endDate }}</span>
    </div>
    <div class="experience-description">{{ experience.description }}</div>
    <div>
      <div>Update the job description here:</div>
      <input type="text"
             id="title"
             [formControl]="updatedDescription">
      <button (click)="onValidate()">Validate</button>
    </div>
  </div>
</div>
